.search-card-wrapper .skeleton-wrapper-search {
    display: flex;

    &> *:first-child{
        width: 350px;
        flex: 0 0 auto;
        margin-right: 16px;
    }
    &> *:last-child{
        flex: auto;
    }
}

.search-card-wrapper .skeleton-wrapper-mobile {
    display: none;
}

@media(max-width: 880px) {
    .search-card-wrapper .skeleton-wrapper-search {
        &> *:first-child{
            width: 45%;
        }
    }
}

@media(max-width: 660px) {
    .search-card-wrapper .skeleton-wrapper-search {
        &> *:first-child{
            width: 270px;
        }
    }
}

@media(max-width: 580px) {
    .search-card-wrapper .skeleton-wrapper-search {
        &> *:first-child{
            width: 250px;
        }
    }
}

@media(max-width: 512px) {
    .search-card-wrapper .skeleton-wrapper-search {
        display: none;
    }
    .search-card-wrapper .skeleton-wrapper-mobile {
        display: block;
    }
}