.video-container{

    &.row{
        margin: 0;
        padding: 16px;
        min-height: calc(100vh - 115px);
    }
    &.row>*{
        padding: 8px;
        width: 25%;
        flex: 0 0 auto;
    }
    
    @media (max-width: 1140px) {
        &.row>*{
            width: 33.33333333%
        }
    }
    @media (max-width: 886px) {
        &.row>*{
            width: 50%;
        }
    }
    @media (max-width: 660px) {
        &.row{
            padding: 0;
            margin-top: -8px;
        }
        &.row>*{
            padding: 8px 0;
        }
        &.row>*:nth-child(odd){
            padding-right: 8px;
        }
        &.row>*:nth-child(even){
            padding-left: 8px;
        }
    }
    @media (max-width: 512px) {
        &.row{
            width: 100%;
            padding: 0;
        }
        &.row>*{
            width: 100%;
            padding: 8px 0 !important;
        }
    }
}