.sidebar.small.watch-nav {
    display: none;
}

.app_main.watch-app {
    width: 100% !important;
    overflow: visible;
    padding: 24px 33px;

    .category-manage {
        display: none;
    }

    .row {
        margin: 0;

        &>*.col>* {
            height: fit-content;
        }

        &>*.col:first-child {
            padding-left: 0;
        }

        &>*.col:last-child {
            padding-right: 0;
        }
    }

    @media(max-width: 1024px) {
        .row {
            &>*.col {
                width: 100%;
                padding: 0;
            }
            &>*.col:last-child{
                margin-top: 23px;
            }
        }
    }

    @media(max-width: 660px) {
        & {
            padding: 24px 16px;
        }
    }

    @media(max-width: 512px) {
        & {
            padding: 24px 11px;
            padding-top: 0;

            .watch-screen-player {
                margin: 0 -11px;
                width: calc(100% + 22px);
                padding-bottom: calc(56.25% + 22px);
            }
        }
    }
}

.watch-screen-player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        right: 0;
        bottom: 0;
    }
}

.categoriesBar.watch-category-bar {
    position: static;
    padding: 0;
    background-color: transparent;
    border: none;
    align-items: flex-start;

    &>*:first-child {
        padding-top: 0;
    }
}

.watch-screen-content {
    &>h3 {
        font-size: 20px;
        margin: 0;
        padding-top: 13px;
        padding-bottom: 8px;
    }

    &>.watch-duration {
        font-weight: 600;
        font-size: 14.3px;
    }

    & .watch-description {
        font-size: 14.3px;
    }

    & .watch-description.close {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    & .watch-description-more {
        font-size: 14.3px;
        font-weight: 600;
        cursor: pointer;
    }

    & .watch-description-more.close::before {
        content: "...more"
    }

    & .watch-description-more.open::before {
        content: "...show less"
    }
}

.watch-tools {
    &>span {
        cursor: pointer;
    }
}