.video.watch-video {
    display: flex;
    margin-bottom: 11px;

    &>*:first-child {
        width: 170px;
        flex: 0 0 auto;
        height: 95.625px;
        padding-bottom: 0;
    }

    &>*:last-child {
        width: calc(100% - 170px);
        flex: 0 0 auto;
    }

    .video__channel {
        display: none;
    }
}