.video.watch-video{
    display: flex;
    margin-bottom: 11px;

    &> *:first-child{
        width: 40%;
        flex: 0 0 auto;
        padding-bottom: 22.5%;
    }
    &> *:last-child{
        width: 60%;
        flex: 0 0 auto;
    }

    .video__channel{
        display: none;
    }
}