.watch-comments {
    .comment-card-wrapper {
        display: flex;
        margin-bottom: 27px;

        &:last-child{
            margin-bottom: 0;
        }

        img {
            margin-right: 17px;
            border-radius: 100%;
            width: 40px;
            height: 40px;
        }

        .comment-card-content {
            font-size: 14px;
            h5 {
                font-size: 14px;
                margin-bottom: 1px;

                a {
                    color: inherit;
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: #606060;
                }
            }

            p {
                margin-bottom: 0;
                font-size: 14px;
                margin-bottom: 2px;

                &.close {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            span.comment-read-more{
                cursor: pointer;
                font-size: 14px;
            }
            span.comment-read-more:hover{
                text-decoration: underline;
            }


            &>span {
                color: #606060;
                font-weight: 600;
                font-size: 14.5px;
            }
        }
    }
}