.search-card-wrapper {
    padding: 24px;
}

.search-card {
    display: flex;

    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    .search-card-thumbnail {
        margin-right: 16px;
        width: 350px;
        flex: 0 0 auto;
        position: relative;

        a {
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 56.25%;
        }

        img {
            width: 100%;
            height: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

        span {
            position: absolute;
            right: 2px;
            bottom: 3px;
            color: white;
            background-color: black;
            padding: 0px 4px;
            font-size: 12px;
            white-space: nowrap;
            line-height: normal;
        }
    }

    a {
        color: inherit;
    }

    .search-card-content {
        font-size: 13px;

        h2 {
            font-size: 17px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

@media(max-width: 880px) {
    .search-card .search-card-thumbnail {
        width: 45%t;
    }
}

@media(max-width: 660px) {
    .search-card .search-card-thumbnail {
        width: 270px;
    }
}

@media(max-width: 580px) {
    .search-card .search-card-thumbnail {
        width: 250px;
    }
}

@media(max-width: 512px) {
    .search-card-wrapper {
        padding: 0;

        a:hover {
            color: inherit;
        }
    }

    .search-card {
        flex-direction: column;
        padding: 8px 0;

        &:first-child {
            padding-top: 0;
        }

        .search-card-thumbnail {
            width: 100%;
            margin-right: 0;
        }

        .search-card-content {
            position: relative;
            padding-left: 53px;
            padding-right: 9px;
            margin-top: 11px;
            display: flex;
            flex-direction: column;

            &> :nth-child(2) {
                order: 1;
            }

            .search-channel-wrapper {
                margin-top: 0 !important;
                margin-bottom: 0 !important;

                span:hover a {
                    color: black;
                }
            }

            .search-channel {
                position: absolute;
                top: 0;
                left: 9px;

                img {
                    width: 33px;
                    height: 33px;
                }
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: black;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                color: #646464;
            }

            p {
                display: none;
            }
        }
    }

    .search-loader {
        padding: 24px;
    }
}