.main-watch-screen .skeleton-wrapper-search {
    display: flex;
    margin-bottom: 11px;

    &> *:first-child{
        width: 170px;
        flex: 0 0 auto;
        margin-right: 11px;
    }
    &> *:last-child{
        flex: auto;
    }
}