@import '../../base.scss';

.video {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;

    &> *:not(:first-child){
        margin-top: 11px;
    }

    .video__top{
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;

        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        span{
            position: absolute;
            right: 2px;
            bottom: 3px;
            color: white;
            background-color: black;
            padding: 0px 4px;
            font-size: 12px;
            white-space: nowrap;
            line-height: normal;
        }
    }

    .video__channel {
        width: 33px;
        height: 33px;
        flex: 0 0 auto;

        img {
            border-radius: 100%;
        }
    }

    .video__details {
        display: flex;

        &> *:not(:first-child){
            margin-left: 11px;
        }

        a{
            color: inherit;
        }

        .video__title {
            h3 {
                font-size: 14px;
                font-weight: 500;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: black;
            }

            .video__title__info {
                font-size: 12px;
                font-weight: 400;
                color: rgb(100, 100, 100);

                &> :first-child{
                    display: block;
                }

                .channel__title{
                    color: inherit;
                }
                .channel__title:hover{
                    color: black;
                }
            }
        }

        @media (max-width: 660px) {
            padding: 0 9px;
        }
    }
}