@import '../../base.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    width: 90px;
    padding-top: 2rem;
    height: 100vh;
    overflow-y: auto;
    background-color: white;

    li,
    a:not(.logo){
        display: flex;
        align-items: center;
        padding: 0.6rem 1.5rem;
        cursor: pointer;
        justify-content: flex-start;

        span {
            margin-left: 1rem;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px;
            display: none;

            select{
                outline: none;
                border: none;
                font-weight: 500;
                background-color: inherit;
            }
        }

        &:hover {
            background-color: #0000000d;
        }
    }

    a, a:hover{
        color: unset;
    }

    hr {
        min-height: 1px;
    }

    &.small {
        position: fixed;
        left: 0;
        top: 60px;
        bottom: 0;
    }

    &.small>.header_left {
        display: none;
    }

    &.float-nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
        z-index: 1000;
        transform: translateX(-100%);
        padding-top: 0;

        li,
        a {
            justify-content: start;

            span {
                display: unset;
            }
        }

        .header_left {
            line-height: 60px;
            padding: 0;
            box-sizing: border-box;
            flex-shrink: 0;
            padding-left: 16px;
            margin-bottom: 2rem;

            &>* img {
                padding: 8px;
            }
        }
    }

    &.float-nav.open {
        width: 250px;
        transform: translateX(0);
    }

    @media (max-width: $breakpoint-medium) {
        &.float-nav {
            transition: transform 0.2s ease-in;
        }
    }
}

.sidebar[standardized-themed-scrollbar]:not([no-y-overflow])::-webkit-scrollbar {
    width: 16px;
}

.sidebar::-webkit-scrollbar {
    width: 16px;
}

.sidebar[standardized-themed-scrollbar]:not([no-y-overflow])::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgb(126, 126, 126);
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 67%);
}

.nav-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000007a;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in;
}

@media (max-width: $breakpoint-medium) {
    .nav-overlay.open {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 790px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        z-index: 999;
    }
}